.section.menu-card-actions-container {
    padding-inline: var(--bbl-space-200);
}

.menu-card-action {
    width: 100%;
}

.menu-card-action:is(.scrollable, .stacked) {
    align-items: stretch;
}

.menu-card-action-item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu-card-action-inner {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 var(--bbl-space-200) 0 transparent;
    padding: var(--bbl-space-250);
    flex-grow: 1;
    border-radius: 0.4375rem;
    border: 0.0625rem solid var(--bbl-color-black-alpha-10);
}

.menu-card-cta-dropdown :is(.menu-card-action-item, .menu-card-action-inner, .global-dropdown) {
  overflow: visible;
}

.menu-card-action-inner img {
    height: 5rem;
    width: auto;
    object-fit: contain;
}

.menu-card-action-title {
    flex-grow: 1;
    width: 100%;
}

.menu-card-action-title :is(h1, h2, h3, h4, h5, h6) {
    font: 400 1.14rem/1.25rem var(--bbl-font-family-medium);
    margin-block: var(--bbl-space-250) 0.9375rem;
    padding-bottom: 0.9375rem;
    min-height: 4.4375rem;
    position: relative;
    display: inline-block;
}

.menu-card-action-title :is(h1, h2, h3, h4, h5, h6)::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.3125rem;
    bottom: 0;
    height: 0.0625rem;
    background: var(--bbl-color-grey-60);
}

.menu-card-action-inner .button.primary {
    border-radius: 0.4375rem;
    box-sizing: border-box;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 2.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: var(--bbl-space-250);
}

.menu-card-cta-dropdown .menu-card-action-inner .button-tertiary::after {
    display: none;
}

.menu-card-cta-dropdown .menu-card-action-inner .button-tertiary {
    position: relative;
    padding-right: 0.9375rem;
    margin-top: var(--bbl-space-250);
    font: var(--bbl-font-weight-regular) 0.7rem/0.98rem var(--bbl-font-family-medium);
}

.menu-card-cta-dropdown .menu-card-action-inner .button-tertiary:hover {
    color: var(--bbl-color-blue-90);
    text-decoration: none;
}

.menu-card-cta-dropdown .menu-card-action-inner .button-tertiary::before {
    content: "\e901";
    position: absolute;
    right: 0.1875rem;
    top: 52%;
    transform: translateY(-50%);
    font: 300 var(--bbl-font-size-b4) / 1 icomoon, sans-serif;
    transition: all 0.3s ease-in-out;
}

.menu-card-action-inner .button-tertiary:hover::before {
    transform: translateY(-50%) translateX(0.25rem); 
}

.menu-card-action-description p {
    font: var(--bbl-font-family-regular) var(--bbl-font-size-b2)/1.1244rem var(--bbl-font-family-regular);
    flex-grow: 1;
    margin: 0;
}

.menu-card-action-title.has-description {
    flex-grow: 0;
}

.menu-card-action.stacked {
    display: flex;
    flex-direction: column;
}

.menu-card-action.stacked .menu-card-action-item {
    width: 100%;
}

.menu-card-action.scrollable {
    display: flex;
    overflow: auto hidden;
    padding: 0 0 1.875rem; 
    gap: var(--bbl-space-250);
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
}

.menu-card-action.scrollable .menu-card-action-item {
    flex: 0 0 16.875rem; 
    width: 16.875rem; 
    padding: 0;
    scroll-snap-align: start;
    margin: 0;
    box-sizing: border-box;
}

.menu-card-action.scrollable::-webkit-scrollbar {
    height: 0.125rem; 
}

.menu-card-cta-dropdown-wrapper {
    width: 100%;
    margin-top: var(--bbl-space-250);
    position: relative;
}

.menu-card-action-inner .download-button-wrapper .download-files {
    margin-block: var(--bbl-space-250) 0;
}

@media (width > 47.5rem) {
    .section.menu-card-actions-container {
        padding-inline: var(--bbl-space-600);
    }

    .menu-card-action.stacked {
        gap: 0 var(--bbl-space-250);
        justify-content: center;
        flex-flow: row wrap;
    }

    .menu-card-action.stacked .menu-card-action-item {
        flex: 0 0 calc((100% - 3.75rem) / 4); 
        width: calc((100% - 3.75rem) / 4);
        padding-bottom: var(--bbl-space-250);
        margin: 0;
    }

    .menu-card-action-title :is(h1, h2, h3, h4, h5, h6) {
        font: var(--bbl-font-weight-regular) 1.3125rem/1.4219rem var(--bbl-font-family-medium); 
    }

    .menu-card-cta-dropdown-text {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media (width > 64rem) {
    .section.menu-card-actions-container {
        padding-inline: var(--bbl-space-600);
    }

    .menu-card-action:is(.scrollable, .stacked) {
        overflow: hidden;
        gap: 0 var(--bbl-space-500);
        flex-wrap: wrap;
        justify-content: center;
        scroll-snap-type: none;
        scrollbar-width: none;
    }

    .menu-card-cta-dropdown.menu-card-action:is(.scrollable, .stacked) {
        overflow: visible;
    }

    .menu-card-action.scrollable::-webkit-scrollbar {
        display: none;
    }

    .menu-card-action.scrollable {
        padding: 0;
    }

    .menu-card-action:is(.scrollable, .stacked) .menu-card-action-item {
        flex: 0 0 calc((100% - 7.5rem) / 4); 
        width: calc((100% - 7.5rem) / 4);
        padding: 0 0 var(--bbl-space-500);
        scroll-snap-align: none;
        margin: 0;
        box-sizing: border-box;
    }

    .menu-card-action-description p {
        font: var(--bbl-font-weight-regular) var(--bbl-font-size-base) / 1.375rem var(--bbl-font-family-regular); 
    }

    .menu-card-cta-dropdown .menu-card-action-inner .button-tertiary {
        font-size: 0.8rem; 
        line-height: 1.12rem;
    }
}
