main > .section.hero-container {
    padding: 0;
    overflow: hidden;
}

.hero-banner {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}

.hero-banner:after {
    @media (width <= 1024px) {
        content: "";
        border-bottom: 1px solid var(--bbl-color-grey-20);
        position: absolute;
        bottom: 0;
        width: calc(100% - 96px);
        margin: auto;
        left: 0;
        right: 0;
    }

    @media (width <= 760px) {
        width: calc(100% - 32px);
    }
}

.hero-banner__main-img-container {
    width: 100%;
    overflow: hidden;
}

.hero-banner__main-img-container .hero-banner__list {
    all: unset;
    list-style: none;
    width: 100%;
    display: block;
}

.hero-banner__item {
    display: none;
    max-width: 100%;
    width: 100%;
    position: relative;
}

.hero-banner__item.hero-banner__item--active {
    display: list-item;
}

.hero-banner__desktop-img {
    max-width: 100%;
    height: 850px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.hero-banner__content {
    position: absolute;
    bottom: 75px;
    z-index: 1;
    width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    color: var(--bbl-color-white);
}

.hero-banner__content :is(h1, h2, h3, h4, h5, h6) {
    font-family: BangkokBank-Medium, Tahoma, Helvetica, Arial, sans-serif;
    margin-bottom: 23px;
    font-weight: var(--bbl-font-weight-regular);
}

.hero-banner__content-inner {
    float: left;

    .hero-banner__btn, .button {
        /* background: var(--bbl-color-active-blue); */
        color: var(--bbl-color-white);
        min-width: 155px;
        border: 1px solid var(--bbl-color-active-blue);
        padding: 0 var(--bbl-space-250);
        height: 44px;
        line-height: 44px;
        letter-spacing: 0.8px;
        position: relative;
        display: inline-block;
        text-align: center;
        outline: none;
        border-radius: 7px;

        &:not([disabled]):hover {
            background: var(--bbl-color-blue-90);
            border: 1px solid var(--bbl-color-blue-90);
            text-decoration: none;
            -webkit-transition: all 0.4s;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 1.15em;
        margin-block: 0 36px;
    }
}

.hero-banner__thumbnail-outer {
    position: relative;
    bottom: 0;
    transition: visibility 0s, opacity 0.5s, bottom 0.5s linear;
    opacity: 0;
    visibility: hidden;
}

.hero-banner__thumbnail-outer.hero-banner__thumbnail-outer--active {
    visibility: visible;
    opacity: 1;
}

.hero-banner__thumbnail-list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: flex;
    min-height: 60px;
    list-style: none;
}

.hero-banner__thumbnail-item {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;

    &:first-child {
        display: none;
    }
}

.hero-banner__thumbnail-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-banner__thumbnail-outer::-webkit-scrollbar {
    @media (width <= 1024px) {
        width: 0;
        height: 0;
    }
}

.col-md-8 {
    @media (width >= 992px) {
        width: 66.6667%;
    }
}

/* Responsive Styles */

@media (width <= 1024px) {
    .hero-banner__content :is(h1, h2, h3, h4, h5, h6) {
        font-size: var(--bbl-font-size-d1-mobile);
        line-height: var(--bbl-line-height-heading-tight);
    }

    .hero-banner__content {
        text-align: center;
        padding: 0 var(--bbl-space-250);
        bottom: 32px;
    }

    .hero-banner__content-inner p {
        font-size: 1.3rem;
        line-height: 1.15em;
        margin-bottom: 33px;
    }

    .hero-banner__content-inner.col-md-8 {
        width: 100%;
    }

    .hero-banner__thumbnail-outer {
        width: 100%;
        padding: 0 0 var(--bbl-space-600);
        bottom: 0;
        overflow: auto hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    .hero-banner__thumbnail-list {
        max-width: initial;
        padding: 14px var(--bbl-space-250) 0;
        width: max-content;
        flex-wrap: nowrap;
    }
}

@media (width <= 760px) {
     main .section.full-bleed-special.hero-banner__thumbnail-outer {
        padding: 0 0 var(--bbl-space-300);
        overflow: auto hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    .hero-banner__thumbnail-list {
        gap: var(--bbl-space-100);
        margin: 0;
        flex-wrap: nowrap;
    }

    .hero-banner__thumbnail-outer::-webkit-scrollbar {
        display: none;
    }

    .hero-banner__thumbnail-item {
        max-height: 154px;
        height: 154px;
        margin-right: 0;
        width: calc((((100vw - 45px) / 4) * 1.5));
        flex-shrink: 0;
    }
}

@media (width >= 761px) and (width <= 1024px) {
     main .section.full-bleed-special.hero-banner__thumbnail-outer {
        padding:0 var(--bbl-space-600) var(--bbl-space-600);
        overflow: auto hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    .hero-banner__thumbnail-list {
        gap: var(--bbl-space-200);
        flex-wrap: nowrap;
        padding: 14px 0 0;
    }

    .hero-banner__thumbnail-item {
        width: 193px;
        max-height: 238px;
        margin-right: var(--bbl-space-200);
    }

    .hero-banner__thumbnail-item {
        margin-right: 0;
        max-width: calc((((100vw - 152px) / 12) * 8) / 3);
        min-width: calc((((100vw - 152px) / 12) * 8) / 3);
        width: 100%;
        height: 238px;
        flex-shrink: 0;
    }

    .hero-banner__thumbnail-item:nth-child(n + 8) {
        display: block;
    }
}

@media (width >= 1025px) {
    .hero-banner__content :is(h1, h2, h3, h4, h5, h6) {
        font-size: 7.5rem;
        line-height: 8.125rem;
        overflow: visible;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow-y: clip;
        max-width: 650px;
    }

    .hero-banner__thumbnail-outer {
        overflow: auto;
        height: auto;
        margin: 0 auto;
    }

    .hero-banner__thumbnail-item {
        width: 192px;
        max-height: 237px;
    }

    .hero-banner__thumbnail-outer--active {
        bottom: 34px;
    }
}

@media (width >= 1025px) and (width <= 1920px) {
    .hero-banner__content {
        max-width: 100%;
        padding: 0 var(--bbl-space-1050);
    }

      .hero-banner__thumbnail-outer::-webkit-scrollbar {
        display: none;
    }

    .hero-banner__thumbnail-outer {
        -ms-overflow-style: none;  
        scrollbar-width: none;  
    }

    main .section.full-bleed-special.hero-banner__thumbnail-outer {
        max-width: calc(100% - 168px);
        width: calc(100% - 168px);
        padding: 0;
    }


    .hero-banner__thumbnail-list {
        margin: 0;
        display: flex;
        gap: 24px;
        max-width: 100%;
        padding-inline: 0;
        width: 100%;
    }

    .hero-banner__thumbnail-item {
        margin: 0;
        width: 100%;
        max-width: calc((100% / 6) - 20px);
        height: 238px;
    }
}

@media (width >= 1920px) {
    .hero-banner__thumbnail-item {
        max-width: 272px;
        width: 100%;
        margin-right: 24px;
        height: 237px;
        max-height: inherit;
    }
}
