.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero .hero-item {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero .hero-item-content h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--bbl-text-inverse);
}

.hero .hero-item picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero .hero-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 1025px) {
  .hero .hero-item {
    padding: 40px 32px;
  }
}