/* Mobile-first base styles */
.warning-card {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgb(221 221 221 / 50%);
  margin: auto;
}

.section.warning-card-container {
  padding: 0;
}

.warning-card-inner-container {
  display: flex;
  align-items: flex-start;
  gap: var(--bbl-space-200);
  margin: 0 auto;
  box-sizing: border-box;
  padding: var(--bbl-space-300) var(--bbl-space-200) var(--bbl-space-400) var(--bbl-space-200);
}

.warning-card-icon {
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 5px;
}


.warning-card-icon img {
  object-fit: contain;
}

.warning-card-content {
  flex: 1;
  padding-right: var(--bbl-space-350);
}

.warning-card-title {
  color: #003d82;
  font-size: var(--bbl-heading-h4-size);
  font-weight: var(--bbl-font-weight-regular);
  line-height: 1.4;
  margin: 0 0 var(--bbl-space-200);
}

.warning-card-description {
  color: #666;
  font-size: var(--bbl-body-b1-size);
  line-height: var(--bbl-body-b1-line-height);
  margin: 0;
}


.warning-card-description p {
  margin: 0 0 var(--bbl-space-150);
}

.warning-card-description p:last-child {
  margin-bottom: 0;
}

.warning-card-description a {
  color: inherit;
  text-decoration: underline;
  transition: all .3s;
}

.warning-card-description ul,
.warning-card-description ol {
  margin-left: var(--bbl-space-300);
}

.warning-card-description li {
  margin-bottom: var(--bbl-space-100);
}


/* Tablet styles - min-width 768px */
@media (width >=761px) {
  .section.warning-card-container {
    padding: 0 var(--bbl-space-600);
  }

  .warning-card-inner-container {
    padding: var(--bbl-space-400) 0 var(--bbl-space-500) 0;
    max-width: 768px;
  }

  .warning-card-title {
    font-size: 21px;
    margin-bottom: var(--bbl-space-250);
    line-height: 22.75px;
  }

  .warning-card-description {
    font-size: 15px;
  }

  .warning-card-content {
    padding-right: var(--bbl-space-1000);
  }
}

/* Desktop styles - min-width 1024px */
@media (width >=1024px) {
  .warning-card {
    width: 900px;
  }

  .warning-card-inner-container {
    max-width: 1240px;
    padding: var(--bbl-space-400) var(--bbl-space-1000) var(--bbl-space-500);
    gap: var(--bbl-space-300);
  }

  .warning-card-title {
    font-size: 26px;
    margin-bottom: var(--bbl-space-250);
  }

  .warning-card-description {
    font-size: var(--bbl-body-b1-size);
    line-height: 22px;
  }

  .warning-card-content {
    flex: 1;
    padding-right: var(--bbl-space-1000);
  }

  .warning-card-icon {
    position: relative;
    left: 15px;
  }
}

/* Large desktop styles - min-width 1280px */
@media (width >=1280px) {
  .warning-card-inner-container {
    padding: var(--bbl-space-400) 0 var(--bbl-space-500) 0;
  }

  .warning-card-title {
    font-size: var(--bbl-heading-h5-size);
    line-height: 26px;
  }
}