.carousel {
    margin-bottom: var(--bbl-space-300);
}

.carousel-header {
    margin: var(--bbl-space-300) 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.carousel-header h2 {
    margin: 0;
    font-size: 22.4px;
    line-height: 21.994px;
    color: var(--bbl-color-black);
}

.carousel-header a {
    display: flex;
    min-width: 100px;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: var(--bbl-font-weight-regular);
    font-size: 11.2px;
    line-height: 15.68px;
    color: var(--bbl-color-active-blue);
    text-decoration: none;
    position: relative;
    padding-right: 15px;
    font-family: var(--bbl-font-family-medium);
}

.carousel-header a::after {
    content: "\e901";
    font-family: icomoon, sans-serif;
    position: absolute;
    font-size: 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transition: all 0.3s;
}

.carousel-item > a {
    text-decoration: none;
}

.carousel-header a:hover {
    color: var(--bbl-color-blue-90);
}

.carousel-header a:hover::after {
    color: var(--bbl-color-blue-90);
    right: -5px;
}

.carousel-header a:active {
    color: var(--bbl-color-active-blue);
}

.carousel-header a:active::after {
    color: var(--bbl-color-active-blue);
}

.carousel-nav {
    display: none;
}

.carousel-track {
    display: flex;
    gap: var(--bbl-space-100);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex: 0 0 auto;
    width: calc(((100vw - 35px) / 4) * 3);
    max-width: 100%;
    max-height: 490px;
    display: block;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid rgb(0 0 0 / 10%);
    scroll-snap-align: start;
    background-color: var(--bbl-color-white);
}

.carousel-item-link {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.carousel-item-link .carousel-image-container,
.carousel-track .carousel-item .carousel-image-container {
    display: block;
}

.carousel-item-link .carousel-image-container .carousel-image-active,
.carousel-track .carousel-item .carousel-image-container .carousel-image-active {
    display: block;
    max-width: 100%;
    height: 220px;
    width: 100%;
}

.carousel-track .carousel-item .carousel-image-container .carousel-image-active picture {
    display: block;
    width: 100%;
    height: 100%;
}

.carousel-track .carousel-item .carousel-image-container .carousel-image-active img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-track .carousel-item .carousel-image-container .carousel-image-inactive {
    display: none;
}

/* Carousel Content Styles */
.carousel-content {
    position: relative;
    padding: var(--bbl-space-200);
    max-height: 270px;
    min-height: 270px;
    max-width: 390px;
    color: var(--bbl-color-black);
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.carousel-item-link .carousel-content {
    pointer-events: auto;
}

.carousel-eyebrow {
    font-size: 12.6px;
    line-height: 19.25px;
    font-weight: var(--bbl-font-weight-medium);
    background: #4890ff;
    display: inline-block;
    padding: 4px 7px;
    margin-bottom: 13px;
    color: var(--bbl-color-white);
    border-radius: var(--bbl-rounded-200);
    width: fit-content;
    font-family: var(--bbl-font-family-medium);
    text-decoration: none;
}

.carousel-title {
    color: var(--bbl-color-black);
    font-size: 18.2px;
    line-height: 19.992px;
    margin: 0 0 var(--bbl-space-100);
    font-weight: var(--bbl-font-weight-regular);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-decoration: none;
}

.carousel-description {
    font-size: 14px;
    line-height: 19.25px;
    color: var(--bbl-color-grey-70);
    margin: 0 0 var(--bbl-space-200);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    text-decoration: none;
}

.carousel-description p {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.carousel-cta {
   display: none;
}

@media (width >= 761px) {
    .carousel-header h2 {
        font-size: 42px;
        line-height: 40.25px;
    }

    .carousel-track { 
        gap: var(--bbl-space-200);
    }

    .carousel-item { 
        width: calc((100vw - 128px) / 3);
    }

    .carousel-title { 
        font-size: 21px;
        line-height: 22.75px;
    }

    .carousel-description { 
        font-size: 12.6px;
        line-height: 19.25px;
    }

    .carousel-cta {
        display: inline-block;
        position: absolute;
        bottom: var(--bbl-space-600);
        width: 94px;
        max-width: 135px;
        height: 44px;
        line-height: 44px;
        padding: 0 var(--bbl-space-250);
        font-size: 11.2px;
        border: 1px solid var(--bbl-color-active-blue);
        border-radius: 7px;
    }
}

@media (width >= 1025px) {
    .carousel {
        position: relative;
    }

    .carousel .carousel-wrapper {
        position: relative;
        overflow: hidden;
    }

    .carousel-header {
        margin: 22px 0 var(--bbl-space-500);
    }

    .carousel-header h2 {
        font-size: 48px;
        line-height: 46px;
    }

    .carousel-header a {
        font-size: 12.8px;
        line-height: 17.92px;
        margin-right: 15px;
    }

    /* Disable native scrolling on desktop */
    .carousel-track {
        overflow: visible;
        scroll-snap-type: none;
        transition: transform 0.4s ease-in-out;
        gap: var(--bbl-space-300);
    }

    /* Navigation buttons */
    .carousel-nav {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgb(255 255 255 / 90%);
        width: 66px;
        height: 66px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 10;
        box-shadow: 0 0 1px 0 rgb(0 0 0 / 50%);
        border: 1px solid rgb(158 158 158 / 70%);
    }

    .carousel-nav::before {
        content: "\e901";
        font-family: icomoon, sans-serif;
        font-size: 16px;
        line-height: 4;
        color: var(--bbl-color-active-blue);
    }

    .carousel-nav:hover::before {
        color: var(--bbl-color-active-blue);
    }

    .carousel-nav:active {
        outline: none;
        background: #d6d6d6;
    }

    .carousel-nav:active::before,
    .carousel-nav:focus::before {
        color: var(--bbl-color-active-blue);
    }

    .carousel-nav:disabled {
        display: none;
        opacity: 1;
        cursor: not-allowed;
        background: rgb(255 255 255 / 50%);
    }

    .carousel-nav:disabled::before {
        opacity: 0.5;
        color: var(--bbl-color-active-blue);
    }

    .carousel-prev {
        left: -45px;
    }

    .carousel-prev::before {
        transform: rotate(180deg);
        display: inline-block;
    }

    .carousel-next {
        right: -45px;
    }


    .carousel-item.active {
        display: flex;
        width: calc(66.66vw - 132px);
        min-width: calc(66.66vw - 132px);
    }

    .carousel-item.active > div {
        max-width: calc(50% - 12px);
        height: 100%;
    }

    .carousel-track .carousel-item .carousel-image-container {
        height: 100%
    }

    .carousel-track .carousel-item .carousel-image-container .carousel-image-active {
       display: none;
    }

    .carousel-track .carousel-item .carousel-image-container .carousel-image-inactive { 
        display: block;
        height: 100%;
    }

    .carousel-track .carousel-item .carousel-image-container .carousel-image-inactive img{
        height: 490px;
        object-fit: cover;
    }

    .carousel-track .carousel-item.active .carousel-image-container .carousel-image-active {
        display: block;
        height: 100%;
    }

    .carousel-track .carousel-item.active .carousel-image-container .carousel-image-inactive {
        display: none;
    }

    .carousel-item.active .carousel-content {
       padding: var(--bbl-space-400);
       max-height: 430px;
    }

    .carousel-eyebrow {
        font-size: 14.4px;
        line-height: 22px;
        font-weight: 500;
        background: #4890ff;
        display: inline-block;
        padding: var(--bbl-space-050) 7px;
        margin-bottom: 14px;
        color: var(--bbl-color-white);
        border-radius: var(--bbl-rounded-200);
    }

    .carousel-title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: var(--bbl-space-200);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        max-width: 320px;
    }

    .carousel-description {
        display: none
    }

    .carousel-item.active .carousel-description,
    .carousel-item.active .carousel-description p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: var(--bbl-space-300);
        color: #606060;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        line-clamp: 7;
    }

    .carousel-cta {
        display: inline-block;
        position: absolute;
        bottom: var(--bbl-space-200);
        width: 120px;
        height: var(--bbl-space-600);
        line-height: var(--bbl-space-600);
        padding: 0 var(--bbl-space-250);
        font-size: 16px;
        border: 1px solid #4890ff;
        border-radius: 7px;
        color: #4890ff;
    }

    .carousel-item:not(.active) {
        width: 360px;
        height: 490px;
    }

    .carousel-item:not(.active) .carousel-content {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        padding: var(--bbl-space-400);
        color: var(--bbl-color-white);
        max-width: 360px;
    }

    .carousel-item:not(.active) .carousel-content .carousel-cta {
        top: 55%;
    }
}
