/* Base styles (mobile-first) */
.menu-banner {
  width: 100%;
  display: block;
}

.menu-banner .wrapper {
  width: 100%;
  position: relative;
}

/* Desktop version with background */
.menu-banner .thumb-full {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: 50% 50%;
  height: calc(100vw / 2);
}

.menu-banner .inner {
  width: 100%;
}

.menu-banner .desktop-tools {
  position: relative;
  z-index: 2;
  max-width: 75rem;
  padding: var(--bbl-space-500) var(--bbl-space-container-xs);
}

.menu-banner .desktop-tools .inner {
  display: none;
}

/* Mobile version */
.menu-banner .mobile-tools {
  display: block;
  max-width: 75rem;
  margin: 0 auto;
  padding: var(--bbl-space-400) var(--bbl-space-container-xs);
  padding-top: 0;
}

/* Eyebrow text */
.menu-banner .sub-title-medium {
  font-weight: var(--bbl-font-weight-regular);
  font-size: 0.875rem;
  line-height: normal;
  color: var(--bbl-color-black);
  margin-top: 1.875rem;
  padding-bottom: 0.9375rem;
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  position: relative;
}

.menu-banner .sub-title-medium.line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 1.3125rem;
  bottom: 0;
  height: 0.0625rem;
  background: #9e9e9e;
}

/* Title */
.menu-banner .title-1 {
  font-family: var(--bbl-font-family-regular);
  font-weight: var(--bbl-font-weight-regular);
  font-size: 1.75rem;
  line-height: 2.1875rem;
  color: var(--bbl-color-black);
  margin: var(--bbl-space-200) 0 var(--bbl-space-300);
}

.menu-banner .list-thumb-square {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--bbl-space-025);
}

.menu-banner .list-thumb-square li {
  width: 9.375rem;
  height: 9.375rem;
}

.menu-banner .list-thumb-square li > a {
  max-width: 9.375rem;
  height: 7.1875rem;
}

.menu-banner .title-1 a:active, 
.menu-banner .title-1 a:hover {
    text-decoration: none;
    color: var(--bbl-color-active-blue);
}   

.menu-banner .title-1 > * {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.75rem;
}

/* Text blue styling for em tags in RTE */
.menu-banner .title-1 em.text-blue {
  font-style: normal;
  text-decoration: none;
  color: var(--bbl-color-active-blue);
}

.menu-banner .desktop-tools .title-1 em.text-blue {
  color: var(--bbl-color-active-blue);
}

/* Card list */

/* Individual card */
.menu-banner .thumb-square {
  display: flex;
  align-items: center;
  padding: var(--bbl-space-200);
  background: var(--bbl-color-white);
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 0.4375rem;
  text-decoration: none;
  color: var(--bbl-color-black);
  transition: all 0.2s ease;
  gap: 0.9375rem;
  flex-direction: column;
}

.menu-banner .thumb-square:hover {
  border-color: var(--bbl-color-active-blue);
  box-shadow: 0.3125rem 0.3125rem 0 rgb(0 51 153 / 17%);
}

/* Card image */
.menu-banner .visual-img {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-top: 1.25rem;
}

.menu-banner a.thumb-square:hover .visual-img {
  transform: translateY(-0.3125rem);
  transition: all 0.3s;
}

.menu-banner .visual-img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

/* Card title */
.menu-banner .sub-title-small {
  font-family: var(--bbl-font-family-medium);
  font-weight: var(--bbl-font-weight-regular);
  font-size: 0.7rem;
  line-height: normal;
  color: var(--bbl-color-black);
  flex: 1;
  text-align: center;
}

/* Tablet: width > 760px */
@media (width > 47.5rem) {
  .menu-banner .desktop-tools,
  .menu-banner .mobile-tools {
    padding: var(--bbl-space-600);
  }

  .menu-banner .desktop-tools .inner {
    display: block;
  }


  .menu-banner .thumb-full {
    display: block;
    min-height: 28.125rem;
  }

  .menu-banner .mobile-tools {
    display: none;
  }

  .menu-banner .sub-title-medium.line {
    position: relative;
  }

  .menu-banner .title-1 {
    margin: var(--bbl-space-250) 0 var(--bbl-space-400);
  }

  .menu-banner .list-thumb-square {
    gap: 0.625rem;
  }

  .menu-banner .list-thumb-square li {
    flex: 1 1 calc(50% - var(--bbl-space-125));
    max-width: calc(50% - var(--bbl-space-125));
  }

  .menu-banner .thumb-square {
    padding: var(--bbl-space-250);
    min-height: 6.25rem;
    gap: var(--bbl-space-250);
  }

  .menu-banner .visual-img {
    width: 3.75rem;
    height: 3.75rem;
    margin-top: 0.3125rem;
  }
}

/* Desktop: width > 1024px */
@media (width > 64rem) {
  .menu-banner .desktop-tools {
    padding: var(--bbl-space-700) var(--bbl-space-1050);
  }

  .menu-banner .thumb-full {
    max-height: 28.125rem;
  }

  .menu-banner .sub-title-medium {
    font-size: 1rem;
    line-height: normal;
  }

  .menu-banner .title-1 > * {
    font-size: 3rem;
    line-height: 2.875rem;
    margin: var(--bbl-space-300) 0 var(--bbl-space-500);
  }

  .menu-banner .thumb-square {
    padding: var(--bbl-space-200);
  }

  .menu-banner .sub-title-small {
    font-size: 0.8rem;
  }
}

/* Large Desktop: width > 1280px */
@media (width > 80rem) {
  .menu-banner .list-thumb-square li {
    flex: 1 1 calc(25% - var(--bbl-space-225));
    max-width: calc(25% - var(--bbl-space-225));
  }
}
