.accordion-info details {
  border: 1px solid #dadada;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion-info details + details {
  margin-top: 24px;
}

.accordion-info details p {
  margin-bottom: 0.8em;
}

.accordion-info details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.accordion-info details[open] summary {
  background-color: var(--light-color);
}

.accordion-info details summary:focus,
.accordion-info details summary:hover {
  background-color: var(--light-color);
}

.accordion-info details summary::-webkit-details-marker {
  display: none;
}

.accordion-info details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion-info details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion-info details .accordion-info-item-body {
  padding: 0 16px;
}

.accordion-info details[open] .accordion-info-item-body {
  border-top: 1px solid #dadada;
  background-color: var(--background-color);
}
