.content-insert-cards {
    margin-bottom: var(--bbl-space-300);
}

.content-insert-cards .content-insert-card {
    width: 100%;
    max-width: 100%;
    display: block;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: var(--bbl-color-white);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.content-insert-cards .thumb-large {
    position: relative;
    display: block;
    margin: 0;
}

.content-insert-cards .thumb {
    display: block;
    width: 100%;
    height: 220px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-insert-cards .thumb picture {
    display: block;
    width: 100%;
    height: 100%;
}

.content-insert-cards .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content-insert-cards .intro-info {
    padding: var(--bbl-space-200);
    background-color: var(--bbl-color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

.content-insert-cards .title-2 {
    font-size: 18.2px;
    line-height: 19.992px;
    font-weight: var(--bbl-font-weight-regular);
    color: var(--bbl-color-black);
    margin: 0 0 var(--bbl-space-100);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    position: relative;
    padding-bottom: var(--bbl-space-100);
}

.content-insert-cards .title-2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 21px;
    background-color: var(--bbl-color-grey-70);
}

.content-insert-cards .desc {
    margin-bottom: var(--bbl-space-200);
}

.content-insert-cards .text-default {
    font-size: 14px;
    line-height: 19.25px;
    color: var(--bbl-color-grey-70);
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.content-insert-cards .button-group {
    margin-top: auto;
    padding-top: var(--bbl-space-200);
}

.content-insert-cards .btn-primary {
    display: inline-block;
    padding: 11px var(--bbl-space-250);
    font-size: 11.2px;
    line-height: 15.68px;
    font-weight: var(--bbl-font-weight-medium);
    font-family: var(--bbl-font-family-medium);
    color: var(--bbl-color-white);
    background-color: var(--bbl-color-active-blue);
    border: 1px solid var(--bbl-color-active-blue);
    border-radius: 7px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    width: 100%;
    min-width: auto;
}

.content-insert-cards .btn-primary:hover {
    background-color: var(--bbl-color-blue-90);
    border-color: var(--bbl-color-blue-90);
    color: var(--bbl-color-white);
}

.content-insert-cards .btn-primary:active {
    background-color: var(--bbl-color-active-blue);
    border-color: var(--bbl-color-active-blue);
    color: var(--bbl-color-white);
}

.content-insert-cards .btn-primary:focus {
    outline: 2px solid var(--bbl-color-active-blue);
    outline-offset: 2px;
}

@media (width >=761px) {
    .content-insert-cards .thumb {
        height: 280px;
    }

    .content-insert-cards .title-2 {
        font-size: 21px;
        line-height: 22.75px;
    }

    .content-insert-cards .text-default {
        font-size: 12.6px;
        line-height: 19.25px;
    }

    .content-insert-cards .intro-info {
        padding: var(--bbl-space-300);
    }
}

@media (width >=1025px) {
    .content-insert-cards .content-insert-card {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        border: none;
        box-shadow: none;
        background: transparent;
        border-radius: 0;
        overflow: visible;
    }

    .content-insert-cards .thumb-large {
        border-radius: 7px;
        overflow: hidden;
    }

    .content-insert-cards .thumb {
        height: 380px;
        border-radius: 7px;
    }

    .content-insert-cards .intro-info {
        position: absolute;
        bottom: 30px;
        right: 30px;
        top: 30px;
        max-width: 245px;
        width: calc(50% - var(--bbl-space-400));
        background-color: var(--bbl-color-white);
        border-radius: 7px;
        padding: var(--bbl-space-250);
        box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
        border: 1px solid rgb(0 0 0 / 10%);
    }

    .content-insert-cards .title-2 {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: var(--bbl-space-100);
    }

    .content-insert-cards .text-default {
        font-size: 14px;
        line-height: 20px;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    .content-insert-cards .desc {
        margin-bottom: var(--bbl-space-200);
    }

    .content-insert-cards .btn-primary {
        font-size: 12px;
        line-height: 16px;
        padding: 10px var(--bbl-space-200);
        min-width: auto;
        width: 100%;
    }

    .content-insert-cards .button-group {
        margin-top: auto;
        padding-top: var(--bbl-space-200);
    }
}