footer {
  background-color: var(--bbl-bg-secondary);
  font-size: var(--bbl-text-footer-size);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 1025px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
