/* =========================================
   SOCIAL SHARE – BASE
========================================= */

.social-share {
  display: flex;
  align-items: center;
  width: 43px;
  height: 43px;
  border: 1px solid var(--bbl-color-active-blue);
  border-radius: var(--bbl-radius-full);
  background: var(--bbl-bg-primary);
  overflow: hidden;
  cursor: pointer;
  transition:
    width 0.3s ease,
    border-radius 0.3s ease;
}

/* Expanded state */
.social-share.active {
  width: fit-content;
  padding: 0 var(--bbl-space-050);
  border-radius: var(--bbl-radius-md);
}

/* =========================================
   SHARE ICON
========================================= */

.icon-share {
  width: 42px;
  height: 42px;
  background: url('../../icons/share.svg') no-repeat center;
  background-size: var(--bbl-space-500);
  flex-shrink: 0;
  transition:
    width 0.3s ease,
    opacity 0.3s ease;
}

.icon-share:hover {
  opacity: 0.9;
}

.social-share.active .icon-share {
  width: 0;
  opacity: 0;
}

/* =========================================
   CLOSE ICON
========================================= */

.icon-close {
  width: 0;
  height: var(--bbl-space-500);
  opacity: 0;
  overflow: hidden;
  background: url('../../icons/close.svg') no-repeat center;
  background-size: var(--bbl-space-300);
  transition: all 0.3s ease;
}


.icon-close:hover {
  opacity: 0.9;
}

.social-share.active .icon-close {
  width: 35px;
  opacity: 1;
}

/* =========================================
   SHARE ICONS CONTAINER
========================================= */

.share-icons {
  display: flex;
  align-items: center;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.social-share.active .share-icons {
  max-width: 180px;
  opacity: 1;
  margin: 0 var(--bbl-space-050);
}

.share-icons ul {
  display: flex;
  align-items: center;
  gap: var(--bbl-space-050);
  margin: 0;
  padding: 0;
  list-style: none;
}

.share-icons li {
  display: flex;
}

.share-icons li a {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--bbl-radius-sm);
}

.share-icons a:hover {
  opacity: 0.9;
}

.share-icons img,
.share-icons picture img {
  width: var(--bbl-space-350);
  height: var(--bbl-space-350);
  object-fit: contain;
  display: block;
}

.social-share.mobile {
  flex-direction: row;
}

.social-share.mobile .icon-close {
  order: 1;
}

.social-share.mobile .share-icons {
  order: 2;
}

.social-share.mobile .icon-share {
  order: 3;
}


@media (width >= 1025px) {
  .social-share.desktop {
    flex-direction: row;
    margin-left: auto;
  }

  .social-share.desktop .icon-share {
    order: 1;
  }

  .social-share.desktop .share-icons {
    order: 2;
  }

  .social-share.desktop .icon-close {
    order: 3;
    margin-right: 10px;
  }
}
