/* =========================================
   SOCIAL SHARE – BASE
========================================= */

.social-share {
  display: flex;
  align-items: center;
  width: 43px;
  height: 43px;
  border: 1px solid #0064ff;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  transition:
    width 0.3s ease,
    border-radius 0.3s ease;
}

/* Expanded state */
.social-share.active {
  width: fit-content;
  padding: 0 5px;
  border-radius: 10px;
}

/* =========================================
   SHARE ICON
========================================= */

.icon-share {
  width: 42px;
  height: 42px;
  background: url('../../icons/share.svg') no-repeat center;
  background-size: 40px;
  flex-shrink: 0;
  transition:
    width 0.3s ease,
    opacity 0.3s ease;
}

.icon-share:hover,
.share-icons a:hover {
  opacity: 0.9;
}

.social-share.active .icon-share {
  width: 0;
  opacity: 0;
}

/* =========================================
   CLOSE ICON
========================================= */

.icon-close {
  width: 0;
  height: 40px;
  opacity: 0;
  overflow: hidden;
  background: url('../../icons/close.svg') no-repeat center;
  background-size: 24px;
  transition: all 0.3s ease;
}


.icon-close:hover {
  opacity: 0.9;
}

.social-share.active .icon-close {
  width: 35px;
  opacity: 1;
}

/* =========================================
   SHARE ICONS CONTAINER
========================================= */

.share-icons {
  display: flex;
  align-items: center;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.social-share.active .share-icons {
  max-width: 180px;
  opacity: 1;
  margin: 0 5px;
}

.share-icons ul {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.share-icons li {
  display: flex;
}

.share-icons li a {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.share-icons img,
.share-icons picture img {
  width: 26px;
  height: 26px;
  object-fit: contain;
  display: block;
}

.social-share.mobile {
  flex-direction: row;
}

.social-share.mobile .icon-close {
  order: 1;
}

.social-share.mobile .share-icons {
  order: 2;
}

.social-share.mobile .icon-share {
  order: 3;
}


@media (width >= 1025px) {
  .social-share.desktop {
    flex-direction: row;
    margin-left: auto;
  }

  .social-share.desktop .icon-share {
    order: 1;
  }

  .social-share.desktop .share-icons {
    order: 2;
  }

  .social-share.desktop .icon-close {
    order: 3;
  }
}
