/* breadcrumb navigation */
.breadcrumb {
  overflow: hidden;
  padding: 21px 84px 19px;
  margin: 0 auto;
  max-width: 1240px;
  box-sizing: border-box;
  background-color: var(--bbl-bg-primary);
}

.breadcrumb ol {
  float: left;
  list-style: none;
  margin: 0;
  padding: 12px 0;
  display: block;
}

.breadcrumb li {
  float: left;
  font-size: 0.8rem;
  line-height: 1.3;
  font-weight: var(--bbl-text-breadcrumb-weight);
  color: var(--bbl-text-link);
  padding-right: 15px;
  position: relative;
}

.breadcrumb li::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--bbl-text-link);
  font-size: 10px;
  margin: 10px 15px 0 0;
  line-height: 22px;
  float: left;
}

.breadcrumb li:first-child::before,
.breadcrumb li:first-child::after {
  content: none;
}

.breadcrumb li:last-child::after {
  content: "";
  height: 2px;
  width: calc(50% - 16px);
  position: absolute;
  left: 19px;
  bottom: -10px;
  background: var(--bbl-text-link);
}

.breadcrumb.is-homepage li:last-child::after{
background : none
}

.breadcrumb a {
  color: var(--bbl-text-link);
  text-decoration: none;
  font-weight: var(--bbl-text-breadcrumb-weight);
}

.breadcrumb a:hover {
  color: var(--bbl-text-link-hover);
  text-decoration: none;
}

.breadcrumb li[aria-current="page"] {
  color: var(--bbl-text-link);
  font-weight: var(--bbl-text-breadcrumb-weight);
}

@media (width >= 1400px) {
  .breadcrumb {
    padding: 21px 0 19px;
  }
}

@media (width < 768px) {
  .breadcrumb {
    padding: 21px 16px 19px;
  }

  .breadcrumb ol {
    float: none;
    margin-bottom: 20px;
    height: 50px;
  }

  .breadcrumb li {
    padding-right: 6px;
    float: none;
    display: inline-block;
  }

  .breadcrumb li::before {
    margin-right: 6px;
  }
}
